body {
    font-family: Arial, sans-serif;
    background-color: rgb(168, 186, 224);
}

h1 {
    text-align: left;
    margin-top: 5px;
    color: #0a0a0a;

}

label,
input[type="text"] {
    display: block;
    margin-bottom: 3px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    
   
}
.formulario{
border-radius: 5px;
width: 30%;
}
button[type="submit"] {
    width: 20%;
    padding: 10px;
    background-color: #bcceda; /* verde */
    color: #8d428d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}



.mensagens {
    margin-top: 10px;
    text-align: center;
}

.mensagens p {
    margin-bottom: 10px;
}